/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */
:root{
  --text-color:#333;
  --text-size: 13px;
  --back-ground-hover:red;
}
body{
  margin: 0;
  padding: 0;
  font-size: var(--text-size);
  font-family: roboto;
}
span{
  margin-left: 5px;
  cursor: pointer;
}
li{
  list-style: none
}
a{
  text-decoration: none;
  color: var(--text-color);
}
.header-2019{
  height: auto;
}
.header-wrapper {
  background: #f4f4f4;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.bannerdichvutot{
  background-color:var(--back-ground-hover);
}
.header-top, .container-2019{
  width: 1400px;
  height: auto;
  max-width: 100%;
  padding: 0 10px;
  margin-right: auto;
  margin-left: auto;
}
.header-top {
  width: 1400px;
  font-size: var(--text-size);
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.hotline {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.item-right-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.header-hotline {
  font-size: var(--text-size);
  padding: 10px;
  width: auto;
}
.sub {
  display: none;  
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  min-width:120px;
  z-index: 1000;
}
.sub .item {
  padding: 5px 10px;
  font-size: var(--text-size);
  color: var(--text-color);
  border-bottom: 1px solid #eee;
}
.sub-right .item {
  font-size: var(--text-size);
  color: var(--text-color);
  border-bottom: 1px solid #eee;
}
.hotline-number{
  border: 1px solid #eee;
  border-radius: 10px ;
  background-color: rgba(199, 202, 231, 0.6);
}
.sub ul li{
  padding: 5px 0px;
  list-style: none;
}
.sub .sub-right .item:last-child {
  border-bottom: none;
}
.sub .item:hover {
  cursor: pointer;
}
.hotline:hover .sub {
  display: block; 
  animation: fadeIn 0.3s ease-in-out;
}
.item-right-hover:hover .sub,  .item-right-hover:hover .sub-right{
  display: block; 
  animation: fadeIn 0.3s ease-in-out;
}
.sub-right {
  display: none;  
  position: absolute;
  width: 230px;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 12px;
  min-width:120px;
  z-index: 10;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.header-top-left, .header-top-right{
  display:flex;
  align-items: center;
}
.item-right{
  padding: 10px;
  font-size: var(--text-size);
}
.item {
  display: flex;
  align-items: center;
  white-space: nowrap; 
}
.item i {
  margin-right: 4px; 
}
.header-left-branch{
  padding: 5px 4px;
  border-radius: 10px;
  border: 1px solid #bca7a7;
  background:rgba(201, 202, 224, 0.803)
}
.social-login-btn{
  display: flex;
}
.lienket{
  justify-content: center;
  background-color: yellow;
  padding: 6px;
  margin: 5px;
}
.btn-google{
  background-color: #df4a32;
  margin: 6px;
}
.btn-facebook {
  background: #3b5998;
  margin: 6px;
}
.social-login-icon {
  text-align: center;
  height: 32px;
  width: 32px;
  color: #eee;
  background: rgba(0, 0, 0, .15);
  line-height: 32px;
  border-radius: 4px 0 0 4px;
}
.social-login-text{
  color: #fff;
  line-height: 32px;
  font-weight: 100;
  padding: 0 10px;
}
.header-bottom{
  /* position: relative; */
}
.header-bottom-row{
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 500;
}
.pd-10{
  padding:0 0 10px
}
.header-bottom-left{
  margin-left: 18px;
  width: 200px;
}
.main-search{
  position: relative;
  border-radius: 20px;
}
form{
  display: flex;
  margin-top: 0em;
  unicode-bidi: isolate;
}
.search-icon{
  font-size: 20px;
  width: 55px;
  height: 40.5px;
  background-color: #ed1b24;
  color: white;
  border: none;
  border-radius: 0 99px 99px 0;
}
.global-search{
  width: 500px;
  height: 38px;
  padding: 0 25px;
  outline: none;
  font-size: var(--text-size);
  border: 1.5px solid #ed1b24;
  border-radius: 95px 0 0 99px;
}
.global-search:focus{
  border: 1.5px solid #ed1b24;
}
.box-social{
  padding: 0 20px 0 5px;
  text-align: center;
}
.footer-social-icons{
  height: 45px;
  align-items: center;
}
.footer-social-icons .fa-facebook-f{
  background-color: #4267b2;
}
.footer-social-icons .fa-youtube{
  background-color: red;
}
.footer-social-icons .fa-instagram{
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.footer-social-icons .fa-tiktok{
  background-color: #000;
}
.footer-social-icons .fa-twitter{
  background-color: #4267b2;
}
.footer-social-icons i {
  color: #fff;
  width: 36px;
  height: 36px;
  line-height: 35px;
  font-size: 40px;
  margin-right: 5px;
  border-radius: 50%;
}
.khaipv-buildpc ,.khaipv-buildpc a {
  display: flex;
  margin-right:5px;
}
.khaipv-buildpc a i {
  background: #fff;
  height: 36px;
  width: 36px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  border: 2px solid #aaa;
  border-radius: 9999px;
}
.khaipv-buildpc a .buildpc-link-right span {
  display: block;
  line-height: 22px;
}
.header-cart-item {
  display: flex;
  align-items: center;
}
.header-cart-item i {
  font-size: 20px;
  margin-right: 8px; 
}

.header-bottom-row span{
  font-size: var(--text-size);
}
.cart-text{
  margin-left: -4px;
}

/*___________________________Product_______________________________________*/
.slider-product-one .container-2019{
  overflow: hidden;
}
.slider-product-one-content{
  padding-top: 10px;
  margin-bottom: 10px;
  width: 1410px;
}
.slider-product-one-content-title{
  padding: 0 10px;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  position: relative;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
}
.h-title-2019 {
  color: #333e48;
  font-size: 28px;
  font-weight: 000;
  margin: auto 50px auto 0px;
  text-transform: uppercase;
  line-height: 28px;
}
.sub-cart-title {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  margin-right: 135px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.sub-cart-title a {
  font-weight: 600;
  font-size: var(--text-size);
  margin: 5px 5px 0 0;
  position: relative;
  background-color: #f3f4f6;
  border: 1px solid #e5e7eb;
  border-radius: 15px;
  color: #333e48;
  padding: 6px 10px;
  white-space: nowrap;
  display: inline-flex;
  text-transform: capitalize;
}
.viewall {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: #ed1b24;
  padding: 3px 10px 5px 15px;
  color: #fff;
  border-radius: 10px;
  font-weight: 500;
  border: 1px solid #e5e7eb;
}
.hover-red:hover{
  background-color: var(--back-ground-hover);
  color: #fff;
}
.slider-product-one-content-items{
  display: flex;
  padding-top: 5px;
  justify-content: space-between;
}
.p-component{
  overflow: unset;
  transition: all 0.3s;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
}
.p-component span{
  margin:0px;
}
.slider-product-one-content-item{
  display: block;
  width: 16%;
}
.slider-product-one-content-item img{
  width: 100%;
}
.review-count{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: var(--text-size);
  color:#333333e0;
}
.fa-star{
  color:rgba(128, 128, 128, 0.509);
}
.p-sku{
  border-radius: 5px;
  padding: 6px 6px;
  font-weight: 400;
  position: relative;
  font-size: var(--text-color);
  background: #f2f2f2;
}
.p-component .p-info .p-name {
  display: block;
  color: #333e48;
  font-size: var(--text-size);
  font-weight: 600;
  text-transform: uppercase;
  line-height: 18px;
  height: 33px;
  margin-bottom: 8px;
  margin-top: 0;
  overflow: hidden;
}
.p-promotion-holder .attr-item {
  display: inline-block;
  margin: 3px 5px 2px 0;
  border-radius: 5px;
  padding: 6px 6px;
  font-weight: 600;
  position: relative;
  font-size: var(--text-size);
  background: #f2f2f2;
}
.attr-item:hover{
  color: var(--back-ground-hover);
}
.p-component .p-info .p-mprice {
  height: 20px;
  color: #666;
  font-size: var(--text-size);
  text-decoration: line-through;
  overflow: hidden;
}
.p-component .p-info .p-discount{
  color: red;
}
.p-component .p-info .p-price {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.p-gift-list{
  display: flex;
}
.p-gift-list .item {
  width: 45px;
  height: 45px;
  margin: 5px 10px 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f9fa;
  max-width: unset;
  min-width: unset;
  padding: 0;
}
.p-component .p-action {
  margin: 5px 15px 0px;
  width: 90%;
}
.p-component .p-action .p-qty {
  color: #2cc067;
  font-size: var(--text-size);
  line-height: 30px;
}

.p-component .p-action .p-buy {
  font-size: var(--text-size);
  color: #fff;
  float: right;
  border-radius: 50%;
  background-color: #ed1b24;
  padding: 5px;
  align-items: center;
}
.slider-product-one-content-container{
  position: relative;
  margin: 0 10px 0px;
}
.slider-product-one-btn{
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slider-product-one-btn i{
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 25px;
  border-radius: 5px;
  cursor: pointer;
  color:rgba(128, 128, 128, 0.52);
}
.slider-product-one-btn .fa-solid:hover{
  background-color: var(--back-ground-hover);
  color: #fff;
}

.slider-product-one-content-container-items{
  position: relative;
  height: 600px;
  transition: all 0.3s ease;
}
/* .slider-product-one-content-items{
  position: absolute;
}
.slider-product-one-content-items:nth-child(1){
  transform: translateX(100%);
}  */

/*___________________________Footed_______________________________________*/
.footer-newsletter{
  background: #202c43;
  padding: 20px 20px 40px;
}
.footer-newsletter-tittle {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.footer-newsletter-form {
  width: 600px;
  margin: auto;
  position: relative;
}
.footer-newsletter-form {
  width: 600px;
  margin: auto;
  display: flex;
}
.email-newsletter {
  background: #fff;
  border: none;
  border-radius: 2px;
  padding: 2px 10px;
  width: 600px;
  height: 40px;
  margin-right: 0;
  font-size: var(--text-size);
}

.footer-subscribe-button {
  background: #ed1b24;
  color: #fff !important;
  padding: 8px 50px;
  border-radius: 0 3px 3px 0;
  font-size: var(--text-size);
  font-weight: 600;
  line-height: 2;
}
.khaipv-footer-policies{
  display: flex;
  padding-bottom: 25px;
}
.policy-container{
  width: 25%;
  display: flex;
  margin-top: 30px;
}
.policy-icon {
  font-size: 32px;
  margin-right: 15px;
  color: red;
}
.policy-info-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.policy-info-content {
  display: block;
  font-size: var(--text-size);
}
.footer-info{
  border-top: 1px solid #dadada;
}
.khaipv-footer-links {
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.links-group-title {
  font-size: 16px;
  font-weight: 700;
  display: block;
  margin:0 0 14px 0;
}
.links-group-container p{
  line-height: 1;
}
.links-group-container .hotline {
  width: 140px;
  margin: 0 0 14px 14px;
  display: inline-block;
  cursor: pointer;
  font-size: var(--text-size);
}

.footer-end{
  background-color: rgba(233, 233, 233, 0.617);
}
.footer-copyright {
  display: flex;
  align-items: center;
}
.khaipv-copyright {
  color: #000;
  font-size: var(--text-size);
  line-height: 1;
  padding: 5px 0;
  width: 60%;
}
.footer-copyright .khaipv-copyright p {
  margin: 7px 0;
}

.footer-copyright .certificate {
  width: 40%;
  display: flex;
}

.footer-copyright .certificate a{
  margin-right: 30px;
}
.box-social{
  padding: 0 20px 0 5px;
  text-align: center;
}
.footer-social-icons{
  height: 45px;
  align-items: center;
}
.footer-social-icons .fa-facebook-f{
  background-color: #4267b2;
}
.footer-social-icons .fa-youtube{
  background-color: red;
}
.footer-social-icons .fa-instagram{
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.footer-social-icons .fa-tiktok{
  background-color: #000;
}
.footer-social-icons .fa-twitter{
  background-color: #4267b2;
}
.footer-social-icons i {
  color: #fff;
  width: 36px;
  height: 36px;
  line-height: 35px;
  font-size: 20px;
  margin-right: 5px;
  border-radius: 50%;
}
/*___________________________Footed_______________________________________*/
